@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700");
@font-face {
  font-family: 'CalifornianFB';
  src: url("../fonts/CalifornianFB.eot");
  src: local("CalifornianFB"), url("../fonts/CalifornianFB.woff") format("woff"), url("../fonts/CalifornianFB.ttf") format("truetype"); }

* {
  transition: all .25s; }

html.touchevents #header {
  overflow: inherit; }

.pushLeft {
  background-position: -250px 0;
  background-color: #303638 !important; }

.right-white-border-dotted {
  border-right: dotted 4px #fff; }

#header {
  background-color: transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 35%, white);
  background: transparent;
  background: linear-gradient(rgba(255, 255, 255, 0) 35%, white);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 35%, white);
  position: relative;
  z-index: 4; }
  #header .slideOutMobile {
    top: -1px;
    right: -250px;
    height: 100vh; }
    #header .slideOutMobile .slideOutHeader .closeServices {
      display: block; }
    #header .slideOutMobile .slideOutHeader .logoDark a {
      background: url("../assets/corridor-logo-dark.png") no-repeat;
      background-size: contain;
      display: block !important; }
  #header .identity {
    width: inherit; }
    #header .identity img {
      max-width: 255px; }
  #header .icon-bar {
    background: gray; }
  #header li {
    padding: 0 12px; }
    #header li a {
      font-family: 'Muli', Arial, Helvetica, sans-serif !important;
      font-weight: 600;
      color: #709dd1; }
  #header .hasSubMenu:hover a {
    color: #454d50;
    position: relative; }
  #header .hasSubMenu.isService:hover a.main-flink:after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: -25%;
    width: 150%;
    height: 5px;
    background: #709dd1;
    z-index: 4; }
  #header .hasSubMenu .subMenu {
    top: 57px;
    left: -73px;
    width: 220px;
    z-index: 3; }
    #header .hasSubMenu .subMenu li {
      background: #ebebeb; }
      #header .hasSubMenu .subMenu li:first-child {
        border: 0; }
        #header .hasSubMenu .subMenu li:first-child a {
          padding-top: 13px; }
      #header .hasSubMenu .subMenu li a {
        font-family: 'Muli', Arial, Helvetica, sans-serif !important;
        font-size: 12px;
        text-transform: uppercase; }
        #header .hasSubMenu .subMenu li a:hover {
          background: #709dd1 !important;
          color: #fff; }

.home-bg {
  background-color: #b7a7b9;
  background-image: url("../images/corridor-home-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.home-circles {
  position: relative;
  z-index: 1; }
  .home-circles img {
    width: 100%; }

.home-top {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
  top: 0;
  left: 0; }
  .home-top .navbar {
    margin-bottom: 0; }
    .home-top .navbar-brand {
      padding: 15px 0; }
  .home-top .better-time {
    position: absolute;
    right: 0;
    bottom: -36%;
    text-align: right; }
    .home-top .better-time img {
      max-width: 360px;
      width: 100%; }
  .home-top .visit-bookstore {
    background: #ffd85b;
    border: solid 2px #709dd1;
    border-right: 0;
    color: #32383a;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    position: fixed;
    right: 0;
    max-width: 190px;
    width: 100%;
    top: 25%;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    z-index: 3; }
    .home-top .visit-bookstore .visit-bk-button {
      background: #709dd1;
      border: solid 2px #fff;
      color: #fff;
      display: block;
      font-family: 'Muli', Arial, Helvetica, sans-serif;
      font-size: 12px;
      letter-spacing: 0.09rem;
      margin: 10px 0;
      padding: 13px 15px; }
      .home-top .visit-bookstore .visit-bk-button:hover {
        background: transparent;
        color: #454d50; }

.home-what-we-do {
  background: #fff; }

section:not(.home-what-we-do) {
  background: #fff; }

.hero {
  padding: 80px 0;
  background: transparent !important; }
  .hero .slideList .slideItem h2 {
    font-family: 'CalifornianFB', Arial, Helvetica, sans-serif !important;
    font-size: 49px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin: 0;
    padding: 0;
    width: inherit; }
    .hero .slideList .slideItem h2.tl-gray {
      color: #8c8e91;
      padding-top: 40px; }
    .hero .slideList .slideItem h2.tl-yellow {
      color: #fecd2f;
      margin-bottom: 30px; }
  .hero .slideList .slideItem h3 {
    color: #495255;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin: 0 0 40px 0;
    text-transform: capitalize; }
  .hero .slideList .slideItem.ffirstSlide img, .hero .slideList .slideItem.ssecondSlide img {
    max-width: 190px;
    width: 100%; }
  .hero .slideList .slideItem a.cta {
    background: #709dd1;
    color: #fff;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0.1rem;
    margin-left: 0 !important;
    padding: 13px 25px; }
    .hero .slideList .slideItem a.cta:last-child {
      margin-left: 2.5% !important; }
    .hero .slideList .slideItem a.cta:hover {
      color: #454d50; }

hr {
  margin: 0; }
  hr.blue-dotted {
    background: #fff;
    border-top: 4px dotted #4b8cc7;
    height: auto; }

.home-what-we-do {
  background: #5f6e80;
  background-image: url("../images/blocks-pattern.png") no-repeat;
  background-image: url("../images/blocks-pattern.png"), linear-gradient(#fff 0%, #4674a9 50%, #000 99%);
  background-blend-mode: overlay;
  position: relative; }
  .home-what-we-do:before {
    content: "";
    background-color: transparent;
    background-image: linear-gradient(white 10%, rgba(240, 247, 254, 0));
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0; }
  .home-what-we-do h2 {
    color: #fff;
    font-family: 'CalifornianFB', Arial, Helvetica, sans-serif;
    font-size: 39px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding: 20px 0;
    text-transform: capitalize; }
  .home-what-we-do p {
    color: #fff;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: 19px;
    letter-spacing: 0.15rem;
    margin: 0;
    padding: 19px 0; }

.what-we-offer {
  padding-bottom: 0; }
  .what-we-offer .wwo-title {
    text-align: center; }
    .what-we-offer .wwo-title h2 {
      border-bottom: dotted 2px #5291c9;
      color: #495255;
      display: inline-block;
      font-family: 'CalifornianFB', Arial, Helvetica, sans-serif;
      font-size: 39px;
      font-weight: 600;
      letter-spacing: 0.2rem;
      padding-bottom: 20px;
      text-align: center;
      text-transform: capitalize; }
  .what-we-offer .wwo-content {
    height: 470px;
    position: relative; }
    .what-we-offer .wwo-content .tab-content p {
      font-family: 'Muli', Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: inherit;
      margin-bottom: 15px;
      text-align: left; }
    .what-we-offer .wwo-content .tab-content h5 {
      font-family: 'Muli', Arial, Helvetica, sans-serif;
      font-size: 15px;
      text-transform: uppercase; }
    .what-we-offer .wwo-content .tab-content .tab-pane {
      max-width: 550px;
      width: 100%;
      transition: all .25s;
      position: relative; }
      .what-we-offer .wwo-content .tab-content .tab-pane#revenue-cycle {
        top: 40px;
        left: 22%; }
      .what-we-offer .wwo-content .tab-content .tab-pane#coding {
        top: 40px;
        left: 46%; }
      .what-we-offer .wwo-content .tab-content .tab-pane#compliance {
        top: 40px;
        left: 1%;
        text-align: right; }
        .what-we-offer .wwo-content .tab-content .tab-pane#compliance p {
          text-align: right; }
      .what-we-offer .wwo-content .tab-content .tab-pane#ops-strat {
        top: 40px;
        left: 25%;
        text-align: right; }
        .what-we-offer .wwo-content .tab-content .tab-pane#ops-strat p {
          text-align: right; }
  .what-we-offer .wwo-nav {
    border-bottom: solid 50px #fecd2f;
    position: absolute;
    bottom: -25px;
    width: 100%; }
    .what-we-offer .wwo-nav li {
      width: 180px;
      height: 400px;
      background: url("../images/service-balloon-bg.png") no-repeat center;
      background-position: 13px 220px;
      background-size: contain;
      text-align: center; }
      .what-we-offer .wwo-nav li.active {
        background-position: 13px 0; }
        .what-we-offer .wwo-nav li.active:before {
          display: none; }
        .what-we-offer .wwo-nav li.active a {
          bottom: 0;
          outline: 0; }
      .what-we-offer .wwo-nav li:hover:not(.active) {
        background-position: 13px 190px; }
        .what-we-offer .wwo-nav li:hover:not(.active) a {
          bottom: -190px;
          outline: 0; }
      .what-we-offer .wwo-nav li a {
        padding: 15px 0;
        position: relative;
        bottom: -220px;
        transition: all .25s !important;
        outline: 0; }
        .what-we-offer .wwo-nav li a img {
          max-width: 77px;
          width: 100%; }
        .what-we-offer .wwo-nav li a h5 {
          color: #495255;
          font-family: 'Muli', Arial, Helvetica, sans-serif;
          text-align: center;
          text-transform: uppercase;
          max-width: 120px;
          margin: 10px auto; }
  .what-we-offer.panel-group {
    margin-bottom: 0px;
    padding-bottom: 15px; }
    .what-we-offer.panel-group .panel-heading img {
      max-width: 40px !important;
      width: 100%;
      position: relative;
      top: -10px; }
    .what-we-offer.panel-group .panel-title h5 {
      color: #495255;
      font-family: 'Muli', Arial, Helvetica, sans-serif;
      text-transform: uppercase; }
    .what-we-offer.panel-group .panel-body p {
      font-family: 'Muli', Arial, Helvetica, sans-serif; }

.bookstore-campus {
  padding-bottom: 5px; }
  .bookstore-campus .bookC {
    background-size: cover !important;
    position: relative; }
    .bookstore-campus .bookC:before {
      content: "";
      display: block;
      padding-top: 80%; }
    .bookstore-campus .bookC .bc-content {
      position: absolute;
      top: 40px;
      left: 40px;
      bottom: 40px;
      right: 40px;
      background: rgba(0, 0, 0, 0.5);
      background-blend-mode: multiply;
      text-align: center;
      padding: 40px; }
    .bookstore-campus .bookC .bc-logo img {
      max-width: 260px;
      width: 100%; }
    .bookstore-campus .bookC .bc-texts {
      margin: 30px 0 50px;
      color: #fff; }
      .bookstore-campus .bookC .bc-texts p {
        font-family: 'Muli', Arial, Helvetica, sans-serif;
        font-weight: 300;
        max-width: 90%;
        width: 100%;
        margin: 0 auto; }
    .bookstore-campus .bookC .bc-buttons {
      position: absolute;
      bottom: 60px;
      width: 100%;
      left: 0; }
      .bookstore-campus .bookC .bc-buttons a {
        border: solid 2px #fff;
        padding: 13px 30px;
        color: #fff;
        font-family: 'Muli', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.2rem; }
    .bookstore-campus .bookC.bookstore {
      background: url("../images/corridor-bookstore-bg.jpg") no-repeat; }
    .bookstore-campus .bookC.campus {
      background: url("../images/corridor-campus-bg.jpg") no-repeat; }

.newsletter-sub {
  background: #ffd85b !important;
  padding: 45px 0 25px; }
  .newsletter-sub .containerLarge {
    padding: 0 2%; }
  .newsletter-sub .ns-label {
    padding-right: 0; }
  .newsletter-sub .ns-input {
    padding-left: 0; }
  .newsletter-sub .ns-button {
    padding-left: 0; }
  .newsletter-sub form label {
    color: #393939;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 6px 0;
    text-transform: uppercase; }
  .newsletter-sub form input.form-control {
    border: solid 1px #464646;
    border-radius: 0;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    width: 100%; }
  .newsletter-sub form button {
    background: transparent;
    border: solid 2px #464646;
    color: #26323d;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.15rem;
    padding: 8px 35px;
    text-transform: uppercase;
    transition: all 0.2s; }
    .newsletter-sub form button:hover {
      background: #fff; }
  .newsletter-sub .sc {
    text-align: right; }
    .newsletter-sub .sc-label {
      font-family: 'Muli', Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 700;
      padding: 6px 0;
      text-transform: uppercase; }
    .newsletter-sub .sc-link {
      padding: 0; }
    .newsletter-sub .sc-touch {
      padding: 0;
      margin-right: -15px; }
      .newsletter-sub .sc-touch li {
        display: inline-block;
        list-style: none;
        padding: 0 10px; }
        .newsletter-sub .sc-touch li:last-child {
          padding: 0 0 0 10px; }
        .newsletter-sub .sc-touch li a img {
          max-width: 34px;
          width: 100%; }

.home-footer {
  padding: 5px 0 0; }
  .home-footer .containerLarge {
    padding: 0 2%; }
  .home-footer footer {
    background: #292e30;
    color: #fff;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    letter-spacing: 0.15rem;
    padding: 40px 0;
    text-transform: uppercase; }
    .home-footer footer .foot-logo img {
      max-width: 180px;
      width: 100%; }
    .home-footer footer .foot-call {
      padding: 15px 0 0; }
    .home-footer footer .foot-link {
      text-align: right;
      padding: 9px 0; }
      .home-footer footer .foot-link a {
        color: #fff;
        font-size: 11px;
        letter-spacing: 0.1rem; }
    .home-footer footer .foot-copyright {
      font-size: 11px;
      padding: 30px 0 0; }

@media (min-width: 992px) {
  .ns-label {
    width: 31.333333%; } }

@media (min-width: 1366px) {
  .what-we-offer .wwo-nav li {
    margin: 0 4% !important; } }

@media (max-width: 1260px) {
  #header ul {
    float: right; } }

@media (max-width: 1260px) {
  .what-we-offer .wwo-nav li {
    margin: 0 40px !important; }
  .what-we-offer .wwo-content .tab-content .tab-pane#revenue-cycle {
    left: 240px; }
  .what-we-offer .wwo-content .tab-content .tab-pane#coding {
    left: 500px; }
  .what-we-offer .wwo-content .tab-content .tab-pane#compliance {
    left: -10px; }
  .what-we-offer .wwo-content .tab-content .tab-pane#ops-strat {
    left: 250px; } }

@media (max-width: 1175px) {
  .what-we-offer .wwo-nav li {
    margin: 0 30px !important; }
  .what-we-offer .wwo-content .tab-content .tab-pane#revenue-cycle {
    left: 230px; }
  .what-we-offer .wwo-content .tab-content .tab-pane#coding {
    left: 470px; }
  .what-we-offer .wwo-content .tab-content .tab-pane#compliance {
    left: -60px; }
    .what-we-offer .wwo-content .tab-content .tab-pane#compliance p {
      padding-left: 60px; }
  .what-we-offer .wwo-content .tab-content .tab-pane#ops-strat {
    left: 180px; } }

@media (max-width: 1085px) {
  .what-we-offer .wwo-nav li {
    margin: 0 20px !important; }
  .what-we-offer .wwo-content .tab-content .tab-pane#revenue-cycle {
    left: 220px; }
  .what-we-offer .wwo-content .tab-content .tab-pane#coding {
    left: 440px; }
  .what-we-offer .wwo-content .tab-content .tab-pane#compliance {
    left: -110px; }
    .what-we-offer .wwo-content .tab-content .tab-pane#compliance p {
      padding-left: 110px; }
  .what-we-offer .wwo-content .tab-content .tab-pane#ops-strat {
    left: 110px; } }

@media (max-width: 1000px) {
  #header .hasSubMenu.isService:hover a.main-flink:after {
    display: none; }
  #header .hasSubMenu .subMenu {
    top: 0;
    left: 0; }
    #header .hasSubMenu .subMenu li {
      background: transparent; }
      #header .hasSubMenu .subMenu li a:hover {
        background: transparent !important; }
  #header .navbar-header {
    float: none; }
  #header .navbar-toggle {
    display: inherit; }
  .hero {
    padding: 40px 0; }
    .hero .slideList .slideItem h2 {
      width: 100%;
      font-size: 39px; }
      .hero .slideList .slideItem h2.tl-gray {
        padding-top: 20px; }
    .hero .slideList .slideItem h3 {
      font-size: 22px; }
  .home-top .visit-bookstore {
    position: absolute; }
  .home-top .better-time {
    bottom: -33%; }
  .home-what-we-do h2 {
    border: 0; } }

@media (max-width: 992px) {
  .what-we-offer .wwo-nav {
    position: initial;
    bottom: 0; }
    .what-we-offer .wwo-nav li {
      width: inherit;
      min-height: initial;
      height: auto;
      background: #e9e9e9; }
      .what-we-offer .wwo-nav li:hover:not(.active) a {
        bottom: 0; }
      .what-we-offer .wwo-nav li a {
        bottom: 0;
        text-align: left; }
        .what-we-offer .wwo-nav li a img,
        .what-we-offer .wwo-nav li a h5 {
          display: inline-block; }
        .what-we-offer .wwo-nav li a img {
          margin: 0;
          max-width: 50px !important;
          width: 100%; }
        .what-we-offer .wwo-nav li a h5 {
          max-width: initial; }
  .what-we-offer .wwo-content {
    height: auto; }
    .what-we-offer .wwo-content .tab-content .tab-pane#revenue-cycle {
      left: 220px; }
    .what-we-offer .wwo-content .tab-content .tab-pane#coding {
      left: 440px; }
    .what-we-offer .wwo-content .tab-content .tab-pane#compliance {
      left: -110px; }
      .what-we-offer .wwo-content .tab-content .tab-pane#compliance p {
        padding-left: 110px; }
    .what-we-offer .wwo-content .tab-content .tab-pane#ops-strat {
      left: 110px; }
  .newsletter-sub {
    text-align: center; }
    .newsletter-sub .row {
      width: inherit; }
    .newsletter-sub .ns-label {
      padding: initial; }
    .newsletter-sub .ns-input {
      padding: initial;
      margin-bottom: 10px; }
      .newsletter-sub .ns-input input {
        max-width: 400px;
        width: 100%;
        margin: 0 auto; }
    .newsletter-sub .ns-button {
      padding-left: initial; }
    .newsletter-sub .sc {
      text-align: center; }
      .newsletter-sub .sc-link {
        padding: initial; }
      .newsletter-sub .sc-touch {
        padding: initial;
        margin-right: 0; }
        .newsletter-sub .sc-touch li {
          padding: 0 10px; }
          .newsletter-sub .sc-touch li:last-child {
            padding: 0 10px; } }

@media (max-width: 820px) {
  .home-top .better-time {
    bottom: -23%; } }

@media (max-width: 768px) {
  #header .identity img {
    max-width: 175px; }
  .hero [class*='col-sm']:first-child {
    display: none; }
  .hero .slideList .slideItem h2.tl-yellow {
    margin-bottom: 10px; }
  .hero .slideList .slideItem h3 {
    margin-bottom: 15px; }
  .home-top .better-time {
    display: none; }
  .home-top .visit-bookstore {
    display: none; }
  .home-footer footer .foot-logo, .home-footer footer .foot-link {
    text-align: center; } }

@media (max-width: 640px) {
  .hero {
    padding: 10px 0; }
  .bookstore-campus .bookC:before {
    padding-top: 86%; } }

@media (max-width: 600px) {
  .bookstore-campus .bookC:before {
    padding-top: 91%; } }

@media (max-width: 575px) {
  .bookstore-campus .bookC:before {
    padding-top: 96%; } }

@media (max-width: 550px) {
  .home-bg {
    background-size: inherit; }
  .home-circles img {
    width: auto;
    height: 100vh; }
  .home-top .navbar-brand {
    padding: 10px 0; }
  .bookstore-campus .bookC:before {
    padding-top: 100%; }
  .bookstore-campus .bookC .bc-logo img {
    max-width: 200px; }
  .bookstore-campus .bookC .bc-texts p {
    max-width: initial; } }

@media (max-width: 500px) {
  .bookstore-campus .bookC:before {
    padding-top: 115%; } }

@media (max-width: 480px) {
  .bookstore-campus .bookC:before {
    padding-top: 135%; } }

@media (max-width: 420px) {
  #header .identity img {
    max-width: 150px; }
  .bookstore-campus .bookC:before {
    padding-top: 160%; } }
