@media (min-width: 992px) {
    .ns-label {
        width: 31.333333%;
    }
}
// What We Offer Nav Tab Adjustments
@media (min-width: 1366px) {
    .what-we-offer {
        .wwo {
            &-nav {
                li {
                    margin: 0 4% !important;
                }
            }
        }
    }
}
@media (max-width: 1260px) {
    #header ul {
        float: right;
    }
}
@media (max-width: 1260px) {
    .what-we-offer {
        .wwo {
            &-nav {
                li {
                    margin: 0 40px !important;
                }
            }
            &-content {
                .tab-content {
                    .tab-pane {
                        &#revenue-cycle {
                            left: 240px;
                        }
                        &#coding {
                            left: 500px;
                        }
                        &#compliance {
                            left: -10px;
                        }
                        &#ops-strat {
                            left: 250px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1175px) {
    .what-we-offer {
        .wwo {
            &-nav {
                li {
                    margin: 0 30px !important;
                }
            }
            &-content {
                .tab-content {
                    .tab-pane {
                        &#revenue-cycle {
                            left: 230px;
                        }
                        &#coding {
                            left: 470px;
                        }
                        &#compliance {
                            left: -60px;
                            p {
                                padding-left: 60px;
                            }
                        }
                        &#ops-strat {
                            left: 180px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1085px) {
    .what-we-offer {
        .wwo {
            &-nav {
                li {
                    margin: 0 20px !important;
                }
            }
            &-content {
                .tab-content {
                    .tab-pane {
                        &#revenue-cycle {
                            left: 220px;
                        }
                        &#coding {
                            left: 440px;
                        }
                        &#compliance {
                            left: -110px;
                            p {
                                padding-left: 110px;
                            }
                        }
                        &#ops-strat {
                            left: 110px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    #header {
        .hasSubMenu {
            &.isService {
                &:hover {
                    a.main-flink:after {
                        display: none;
                    }
                }
            }
            .subMenu {
                top: 0;
                left: 0;
                li {
                    background: transparent;
                    a:hover {
                        background: transparent !important;
                    }
                }
            }
        }
        .navbar {
            &-header {
                float: none;
            }
            &-toggle {
                display: inherit;
            }
        }
    }
    .hero {
        padding: 40px 0;
        .slideList .slideItem {
            h2 {
                width: 100%;
                font-size: 39px;
                &.tl-gray {
                    padding-top: 20px;
                }
                // &.tl-yellow {
                //     margin-bottom: 10px;
                // }
            }
            h3 {
                font-size: 22px;
                // margin-bottom: 15px;
            }
        }
    }
    .home {
        &-top {
            .visit-bookstore {
                position: absolute;
            }
            .better-time {
                bottom: -33%;
            }
        }
        &-what-we-do {
            h2 {
                border: 0;
            }
        }
    }
}
@media (max-width: 992px) {
    .what-we-offer {
        .wwo {
            &-nav {
                position: initial;
                bottom: 0;
                li {
                    width: inherit;
                    min-height: initial;
                    height: auto;
                    background: #e9e9e9;                    
                    &:hover:not(.active) {
                        a {
                            bottom: 0;
                        }
                    }
                    a {
                        bottom: 0;
                        text-align: left;
                        img,
                        h5 {
                            display: inline-block;
                        }
                        img {
                            margin: 0;
                            max-width: 50px !important;
                            width: 100%;
                        }
                        h5 {
                            max-width: initial;
                        }
                    }
                }
            }
            &-content {
                height: auto;
                .tab-content {
                    .tab-pane {
                        &#revenue-cycle {
                            left: 220px;
                        }
                        &#coding {
                            left: 440px;
                        }
                        &#compliance {
                            left: -110px;
                            p {
                                padding-left: 110px;
                            }
                        }
                        &#ops-strat {
                            left: 110px;
                        }
                    }
                }
            }
        }
    }
    // Newsletter Subscription
    .newsletter-sub {
        text-align: center;
        .row {
            width: inherit;
        }
        .ns {
            &-label {
                padding: initial;
            }
            &-input {
                padding: initial;
                margin-bottom: 10px;
                input {
                    max-width: 400px;
                    width: 100%;
                    margin: 0 auto;
                }
            }
            &-button {
                padding-left: initial;
            }
        }
        .sc {
            text-align: center;
            &-link {
                padding: initial;
            }
            &-touch {
                padding: initial;
                margin-right: 0;
                li {
                    padding: 0 10px;
                    &:last-child {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 820px) {
    .home {
        &-top {
            .better-time {
                bottom: -23%;
            }
        }
    }
}
@media (max-width: 768px) {
    #header .identity img {
        max-width: 175px;
    }
    .hero {
        [class*='col-sm']:first-child {
            display: none;
        }
        .slideList .slideItem {
            h2 {
                &.tl-yellow {
                    margin-bottom: 10px;
                }
            }
            h3 {
                margin-bottom: 15px;
            }
        }
    }
    .home {
        &-top {
            .better-time {
                display: none;
            }
            .visit-bookstore {
                display: none;
            }
        }
    }
    // Footer
    .home-footer {
        footer {
            .foot {
                &-logo,
                &-link {
                    text-align: center;
                }
            }
        }
    }
}
@media (max-width: 640px) {
    .hero {
        padding: 10px 0;
    }
    .bookstore-campus {
        .bookC {
            &:before {
                padding-top: 86%;
            }
        }
    }
}
@media (max-width: 600px) {
    .bookstore-campus {
        .bookC {
            &:before {
                padding-top: 91%;
            }
        }
    }
}
@media (max-width: 575px) {
    .bookstore-campus {
        .bookC {
            &:before {
                padding-top: 96%;
            }
        }
    }
}
@media (max-width: 550px) {
    .home {
        &-bg {
            background-size: inherit;
        }
        &-circles {
            img {
                width: auto;
                height: 100vh;
            }
        }
        &-top {
            .navbar-brand {
                padding: 10px 0;
            }
        }
    }
    .bookstore-campus {
        .bookC {
            &:before {
                padding-top: 100%;
            }
            .bc {
                &-logo img {
                    max-width: 200px;
                }
                &-texts {
                    p {
                        max-width: initial;
                    }
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .bookstore-campus {
        .bookC {
            &:before {
                padding-top: 115%;
            }
        }
    }
}
@media (max-width: 480px) {
    .bookstore-campus {
        .bookC {
            &:before {
                padding-top: 135%;
            }
        }
    }
}
@media (max-width: 420px) {
    #header .identity img {
        max-width: 150px;
    }
    .bookstore-campus {
        .bookC {
            &:before {
                padding-top: 160%;
            }
        }
    }
}