// Fonts
@font-face {
	font-family: 'CalifornianFB';
	src: url('../fonts/CalifornianFB.eot');
	src: local('CalifornianFB'), url('../fonts/CalifornianFB.woff') format('woff'), url('../fonts/CalifornianFB.ttf') format('truetype');
}
// Avenir Alternative
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700');
// General
* {
    transition: all .25s;
}
html.touchevents #header {
    overflow: inherit;
}
.pushLeft {
    background-position: -250px 0;
    background-color: #303638 !important;
}
.right-white-border-dotted {
    border-right: dotted 4px #fff;
}
// Header
#header {
    background-color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 1));
    background: transparent;
    background: linear-gradient(rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 1));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 1));
    position: relative;
    z-index: 4;
    .slideOutMobile {
        top: -1px;
        right: -250px;
        height: 100vh;
        .slideOutHeader {
            .closeServices {
                display: block;
            }
            .logoDark a {
                background: url('../assets/corridor-logo-dark.png') no-repeat;
                background-size: contain;
                display: block !important;
            }
        }
    }
    .identity {
        width: inherit;
        img {
            max-width: 255px;
        }
    }
    .icon-bar {
        background: gray;
    }
    li {
        padding: 0 12px;
        a {
            font-family: 'Muli', Arial, Helvetica, sans-serif !important;
            font-weight: 600;
            color: #709dd1;
        }
    }
    .hasSubMenu {
        &:hover {
            a {
                color: #454d50;
                position: relative;
            }
        }
        &.isService {
            &:hover {
                a.main-flink:after {
                    content: "";
                    position: absolute;
                    bottom: 20px;
                    left: -25%;
                    width: 150%;
                    height: 5px;
                    background: #709dd1;
                    z-index: 4;
                }
            }
        }
        .subMenu {
            top: 57px;
            left: -73px;
            width: 220px;
            z-index: 3;
            li {
                background: #ebebeb;
                &:first-child {
                    border: 0;
                    a {
                        padding-top: 13px;
                    }
                }
                a {
                    font-family: 'Muli', Arial, Helvetica, sans-serif !important;
                    font-size: 12px;
                    text-transform: uppercase;
                    &:hover {
                        background: #709dd1 !important;
                        color: #fff;
                    }
                }
            }
        }
    }
}
// Home
.home {
    &-bg {
        background-color: #b7a7b9;
        background-image: url('../images/corridor-home-bg.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    &-circles {
        position: relative;
        z-index: 1;
        img {
            width: 100%;
        }
    }
    &-top {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 2;
        top: 0;
        left: 0;
        .navbar {
            margin-bottom: 0;
            &-brand {
                padding: 15px 0;
            }
        }
        .better-time {
            position: absolute;
            right: 0;
            bottom: -36%;
            text-align: right;
            img {
                max-width: 360px;
                width: 100%;
            } 
        }
        .visit-bookstore {
            background: #ffd85b;
            border: solid 2px #709dd1;
            border-right: 0;
            color: #32383a;
            font-family: 'Muli', Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 600;
            position: fixed;
            right: 0;
            max-width: 190px;
            width: 100%;
            top: 25%;
            padding: 15px;
            text-align: center;
            text-transform: uppercase;
            z-index: 3;
            .visit-bk-button {
                background: #709dd1;
                border: solid 2px #fff;
                color: #fff;
                display: block;
                font-family: 'Muli', Arial, Helvetica, sans-serif;
                font-size: 12px;
                letter-spacing: 0.09rem;
                margin: 10px 0;
                padding: 13px 15px;
                &:hover {
                    background: transparent;
                    color: #454d50;
                }
            }
        }
    }
    &-what-we-do {
        background: #fff;
    }
}
section:not(.home-what-we-do) {
    background: #fff;
}
// Home Hero Slider
.hero {
    padding: 80px 0;
    background: transparent !important;
    .slideList .slideItem {
        h2 {
            font-family: 'CalifornianFB', Arial, Helvetica, sans-serif !important;
            font-size: 49px;
            font-weight: 600;
            letter-spacing: 0.2rem;
            margin: 0;
            padding: 0;
            width: inherit;
            &.tl-gray {
                color: #8c8e91;
                padding-top: 40px;
            }
            &.tl-yellow {
                color: #fecd2f;
                margin-bottom: 30px;
            }
        }
        h3 {
            color: #495255;
            font-family: 'Muli', Arial, Helvetica, sans-serif;
            font-size: 32px;
            margin: 0 0 40px 0;
            text-transform: capitalize;
        }
        &.ffirstSlide,
        &.ssecondSlide {
            img {
                max-width: 190px;
                width: 100%;
            }
        }
        a.cta {
            background: #709dd1;
            color: #fff;
            font-family: 'Muli', Arial, Helvetica, sans-serif;
            font-size: 13px;
            letter-spacing: 0.1rem;
            margin-left: 0 !important;
            padding: 13px 25px;
            &:last-child {
                margin-left: 2.5% !important;
            }
            &:hover {
                color: #454d50;
            }
        }
    }
}
// What We Do
hr {
    margin: 0;
    &.blue-dotted {
        background: #fff;
        border-top: 4px dotted #4b8cc7;
        height: auto;
    }
}
.home-what-we-do {
    background: #5f6e80;
    background-image: url('../images/blocks-pattern.png') no-repeat;
    background-image: url('../images/blocks-pattern.png'), linear-gradient(#fff 0%, #4674a9 50%, #000 99%);
    background-blend-mode: overlay;
    position: relative;
    &:before {
        content: "";
        background-color: transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 1) 10%, rgba(240, 247, 254, 0));
        position: absolute;
        width: 100%;
        height: 40px;
        top: 0;
    }
    h2 {
        color: #fff;
        font-family: 'CalifornianFB', Arial, Helvetica, sans-serif;
        font-size: 39px;
        font-weight: 500;
        letter-spacing: 0.2rem;
        padding: 20px 0;
        text-transform: capitalize;
    }
    p {
        color: #fff;
        font-family: 'Muli', Arial, Helvetica, sans-serif;
        font-size: 19px;
        letter-spacing: 0.15rem;
        margin: 0;
        padding: 19px 0;
    }
}
// What We Offer
.what-we-offer {
    padding-bottom: 0;
    .wwo {
        &-title {
            text-align: center;
            h2 {
                border-bottom: dotted 2px #5291c9;
                color: #495255;
                display: inline-block;
                font-family: 'CalifornianFB', Arial, Helvetica, sans-serif;
                font-size: 39px;
                font-weight: 600;
                letter-spacing: 0.2rem;
                padding-bottom: 20px;
                text-align: center;
                text-transform: capitalize;
            }
        }
        &-content {
            height: 470px;
            position: relative;
            .tab-content {
                p {
                    font-family: 'Muli', Arial, Helvetica, sans-serif; 
                    font-size: 14px;
                    line-height: inherit;
                    margin-bottom: 15px;
                    text-align: left;
                }
                h5 {
                    font-family: 'Muli', Arial, Helvetica, sans-serif; 
                    font-size: 15px;
                    text-transform: uppercase;
                }
                .tab-pane {
                    max-width: 550px;
                    width: 100%;                    
                    transition: all .25s;
                    position: relative;
                    &#revenue-cycle {
                        top: 40px;
                        left: 22%;
                    }
                    &#coding {
                        top: 40px;
                        left: 46%;
                    }
                    &#compliance {
                        top: 40px;
                        left: 1%;
                        text-align: right;
                        p {
                            text-align: right;
                        }
                    }
                    &#ops-strat {
                        top: 40px;
                        left: 25%;
                        text-align: right;
                        p {
                            text-align: right;
                        }
                    }
                }
            }
        }
        &-nav {
            border-bottom: solid 50px #fecd2f;
            position: absolute;
            bottom: -25px;
            width: 100%;
            li {
                width: 180px;
                height: 400px;
                background: url('../images/service-balloon-bg.png') no-repeat center;
                background-position: 13px 220px;
                background-size: contain;
                // margin: 0 50px !important;
                text-align: center;
                &.active {
                    background-position: 13px 0;
                    &:before {
                        display: none;
                    }
                    a {
                        bottom: 0;                     
                        outline: 0;
                    }
                }
                &:hover:not(.active) {
                    background-position: 13px 190px;
                    a {
                        bottom: -190px;                      
                        outline: 0;
                    }
                }
                a {
                    padding: 15px 0;
                    position: relative;
                    bottom: -220px;
                    transition: all .25s !important;
                    outline: 0;
                    img {
                        max-width: 77px;
                        width: 100%;
                    }
                    h5 {
                        color: #495255;
                        font-family: 'Muli', Arial, Helvetica, sans-serif;
                        text-align: center;
                        text-transform: uppercase;
                        max-width: 120px;
                        margin: 10px auto;
                    }
                }
            }
        }
    }
    &.panel-group {
        margin-bottom: 0px;
        padding-bottom: 15px;
        .panel {
            &-heading {
                img {
                    max-width: 40px !important;
                    width: 100%;
                    position: relative;
                    top: -10px;
                }
            }
            &-title {
                h5 {
                    color: #495255;
                    font-family: 'Muli', Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                }
            }
            &-body {
                p {
                    font-family: 'Muli', Arial, Helvetica, sans-serif;
                }
            }
        }
    }
}
// Corridor Bookstore and Campus
.bookstore-campus {
    padding-bottom: 5px;
    .bookC {
        background-size: cover !important;
        position: relative;
        &:before {
            content: "";
            display: block;
            padding-top: 80%;
        }
        .bc {
            &-content {
                position:  absolute;
                top: 40px;
                left: 40px;
                bottom: 40px;
                right: 40px;
                background: rgba(0, 0, 0, 0.50);
                background-blend-mode: multiply;
                text-align: center;
                padding: 40px;
            }
            &-logo img {
                max-width: 260px;
                width: 100%;
            }
            &-texts {
                margin: 30px 0 50px;
                color: #fff;
                p {
                    font-family: 'Muli', Arial, Helvetica, sans-serif;
                    font-weight: 300;
                    max-width: 90%;
                    width: 100%;
                    margin: 0 auto;
                }
            }
            &-buttons {
                position: absolute;
                bottom: 60px;
                width: 100%;
                left: 0;
                a {
                    border: solid 2px #fff;
                    padding: 13px 30px;
                    color: #fff;
                    font-family: 'Muli', Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                    font-size: 13px;
                    letter-spacing: 0.2rem;
                }
            }
        }
        &.bookstore {
            background: url('../images/corridor-bookstore-bg.jpg') no-repeat;
        }
        &.campus {
            background: url('../images/corridor-campus-bg.jpg') no-repeat;
        }
    }
}
// Newsletter Subscription
.newsletter-sub {
    background: #ffd85b !important;
    padding: 45px 0 25px;
    .containerLarge {
        padding: 0 2%;
    }
    .ns {
        &-label {
            padding-right: 0;
        }
        &-input {
            padding-left: 0;
        }
        &-button {
            padding-left: 0;
        }
    }
    form {
        label {
            color: #393939;
            font-family: 'Muli', Arial, Helvetica, sans-serif;
            font-size: 14px;
            padding: 6px 0;
            text-transform: uppercase;
        }
        input.form-control {
            border: solid 1px #464646;
            border-radius: 0;
            font-family: 'Muli', Arial, Helvetica, sans-serif;
            width: 100%;
        }
        button {
            background: transparent;
            border: solid 2px #464646;
            color: #26323d;
            font-family: 'Muli', Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 0.15rem;
            padding: 8px 35px;
            text-transform: uppercase;
            transition: all 0.2s;
            &:hover {
                background: #fff;
            }
        }
    }
    .sc {
        text-align: right;
        &-label {
            font-family: 'Muli', Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 700;
            padding: 6px 0;
            text-transform: uppercase;
        }
        &-link {
            padding: 0;
        }
        &-touch {
            padding: 0;
            margin-right: -15px;
            li {
                display: inline-block;
                list-style: none;
                padding: 0 10px;
                &:last-child {
                    padding: 0 0 0 10px;
                }
                a {
                    img {
                        max-width: 34px;
                        width: 100%;
                    }
                }
            }
        }
    }
}
// Footer
.home-footer {
    padding: 5px 0 0;
    .containerLarge {
        padding: 0 2%;
    }
    footer {
        background: #292e30;
        color: #fff;
        font-family: 'Muli', Arial, Helvetica, sans-serif;
        letter-spacing: 0.15rem;
        padding: 40px 0;
        text-transform: uppercase;
        .foot {
            &-logo {
                img {
                    max-width: 180px;
                    width: 100%;
                }
            }
            &-call {
                padding: 15px 0 0;
            }
            &-link {
                text-align: right;
                padding: 9px 0;
                a {
                    color: #fff;
                    font-size: 11px;
                    letter-spacing: 0.1rem;
                }
            }
            &-copyright {
                font-size: 11px;
                padding: 30px 0 0;
            }
        }
        
    }
}

@import '_home-media';